@using MVCUploadFilesDemo.Models
@model List<FilesArchiveModel>
@{
    ViewBag.Title = "Archive";
}

<h1 class="text-center">File Download In Zip Archive</h1>
<h2 class="text-center">List Of Files in Uploads folder</h2>

<div align="center">
    @*call api endpoint route to archive selected files *@
    @using (Html.BeginForm("", "api/ArchiveAPI/DownloadZipArchive", FormMethod.Post))
    {

        <table align="center" border="1" cellpadding="4" cellspacing="4">
            <tr>
                <th>Select file/s to archive</th>
                <th>File Name</th>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Html.CheckBoxFor(m => m[i].IsSelected)</td>
                    <td>
                        @Model[i].FileName
                        @Html.HiddenFor(m => m[i].FilePath)
                        @Html.HiddenFor(m => m[i].FileName)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-default" value="Download Zip Archive" onclick="validateFiles();" />
                </td>
            </tr>
        </table>
    }
</div>

<script>

    //function for validation & notification
    function validateFiles() {
        if ($('[type="checkbox"]').is(':checked')) {
            alert("Congratulations!   Your file is downloading...");
            return true;
        }

        else {
            alert("Selection is empty!   You need to select at least one file!");
            return false;
        }
    }
</script>
