@model IEnumerable<FileInfo>
@{
    ViewBag.Title = "Upload Files form";
}

@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />

    <div class="container">
        <h1 class="text-center">
            File Upload Demo
        </h1>
        <div id="BrowseFile">
            <div class="row">
                <div class="col-sm-4">
                    <input type="file" id="Files" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="Upload" class="btn btn-warning" value="Upload" />
                </div>

                <div class="col-sm-2">
                    <input type="button" id="GetFolderInFiles" class="btn btn-success" value="Show Files" />
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-6">
                List of All files in Uploads folder

                <table class="table" id="ListAllFiles" border="1">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
}
    @section scripts{
        <script src="https://code.jquery.com/jquery-3.4.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="~/Scripts/Upload.js"></script>
    }
